<h1>Sign up</h1>

<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
		
		<div class="error_message">
			<h2>Form is invalid</h2>
			<ul>
				<% for message in @user.errors.full_messages %>
				  <li><%= message %></li>
				<% end %>
			</ul>
		</div>
		
	<% end %>
	
  <div class="field">
    <%= f.label :user_login, "Username" %><br />
    <%= f.text_field :user_login %>
  </div>
  <div class="field">
    <%= f.label :user_email, "Email" %><br />
    <%= f.text_field :user_email %>
  </div>
  <div class="field">
    <%= f.label :user_password, "Password" %><br />
    <%= f.password_field :user_password %>
  </div>
  <div class="field">
    <%= f.label :user_password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :user_password_confirmation %>
  </div>
	
	<p class="button submit"><%= f.submit "Sign Up" %></p>

<% end %>

<%= link_to 'Back', users_path %>
